# 𝙄𝙂𝙉𝙊𝙍𝙀 𝙈𝙀!
gpg/.local/share/gpg/crls.d/
gpg/.local/share/gpg/private-keys-v1.d/
gpg/.local/share/gpg/tofu.db
gpg/.local/share/gpg/pubring.kbx
gpg/.local/share/gpg/pubring.kbx~
gpg/.local/share/gpg/trustdb.gpg
ssh/.ssh/authorized_keys
ssh/.ssh/id_*
ssh/.ssh/*.pub
ssh/.ssh/known_hosts
tmux/.config/tmux/plugins/
vim/.config/nvim/*/
zsh/.zhistory
zsh/.zcompdump
zsh/.config/zsh/secrets.zsh
