icons/
mpd/.config/mpd/mpd.log
ncmpcpp/.ncmpcpp/error.log
ranger/.config/ranger/bookmarks
ranger/.config/ranger/colorschemes/__init__.py
ranger/.config/ranger/colorschemes/__pycache__/
ranger/.config/ranger/history
ranger/.config/ranger/tagged