[user]
	name = xero
	email = x@xero.nu
[credential]
	helper = cache
[alias]
	graph = log --graph --color --pretty=format:"%C(yellow)%H%C(green)%d%C(reset)%n%x20%cd%n%x20%cn%x20(%ce)%n%x20%s%n"
[color]
	ui = auto
