/*default color scheme */
@define-color bg_color #222222;
@define-color fg_color #666666;
@define-color base_color #222222;
@define-color text_color #666666;
@define-color selected_bg_color #FEA63C;
@define-color selected_fg_color #000000;
@define-color tooltip_bg_color #111111;
@define-color tooltip_fg_color #666666;
@define-color menu_bg_color #111111;
@define-color menu_fg_color #666666;
@define-color transparent rgba (0, 0, 0, 0);

/* misc colors used by gtk+ */
@define-color info_fg_color #EFEFEF;
@define-color info_bg_color #33b5e5;
@define-color warning_fg_color #EFEFEF;
@define-color warning_bg_color #ff8800;
@define-color question_fg_color #EFEFEF;
@define-color question_bg_color #0099cc;
@define-color error_fg_color #EFEFEF;
@define-color error_bg_color #cc0000;
@define-color link_color #FEA63C; 
@define-color success_color #669900;
@define-color error_color #cc0000;

/* theme common colors */
@define-color button_bg_color shade (@bg_color, 1.02); /*shade (#cdcdcd, 1.08);*/
@define-color notebook_button_bg_color shade (@bg_color, 1.02);
@define-color button_insensitive_bg_color mix (@button_bg_color, @bg_color, 0.6);
@define-color dark_bg_color #363638;
@define-color dark_h_color #444547;
@define-color dark_fg_color #f2f2f2;
@define-color dark_borde_color #404040;

@define-color backdrop_bg_color #515151;
@define-color backdrop_fg_color alpha(@fg_color, 0.6);
@define-color backdrop_text_color alpha(@fg_color, 0.6);
@define-color backdrop_dark_fg_color mix (@dark_bg_color, @dark_fg_color, 0.75);
@define-color backdrop_selected_bg_color shade (@bg_color, 0.92);
@define-color backdrop_selected_fg_color @fg_color;

@import url("gtk-widgets.css");
@import url("apps/unity.css");
@import url("apps/baobab.css");
@import url("apps/gedit.css");
@import url("apps/nautilus.css");
@import url("apps/gnome-panel.css");
@import url("apps/gnome-terminal.css");
@import url("apps/unity-greeter.css");
@import url("apps/gnome-extras.css");
