# ==============================================================================
# FIREFOX SPECIFIC SETTINGS
# ==============================================================================

style "ff-default" {
	GtkCheckButton::indicator-size = 14
	bg[NORMAL]        = @menu_bg_color
}

style "theme-toolbar" {

	bg[NORMAL]        = @bg_color
	bg[INSENSITIVE]   = lighter (@menu_bg_color)
	fg[NORMAL]        = @fg_color
	fg[ACTIVE]	= @menu_bg_color
	fg[SELECTED]	=@menu_bg_color
	fg[PRELIGHT]	  = @selected_fg_color
	text[NORMAL]      = @fg_color
	text[ACTIVE]	    = @selected_fg_color
	text[SELECTED]	 = @menu_bg_color
	text[PRELIGHT]	     = @selected_fg_color
	base[NORMAL]      = @base_color

}

widget	"MozillaGtkWidget*Toolbar*"		style	"theme-toolbar"
#widget	"MozillaGtkWidget*Statusbar*"	style	"ff-statusbar"

widget	"MozillaGtkWidget*"	style	"ff-default"

# ------------------------------------------------------------------------------
# Some Firefox (3.0/3.5) GTK widgets hierarchy (maybe useful for someone)
# ------------------------------------------------------------------------------

# Top toolbars (and maybe others)
#widget	"MozillaGtkWidget.GtkFixed.GtkHandleBox.GtkToolbar"	style	"theme-dark-toolbar"

# Findbar entry, gecko (all html) entry
#widget	"MozillaGtkWidget.GtkFixed.GtkEntry"	style	"theme-dark-entry"

# ALL buttons
#widget	"MozillaGtkWidget.GtkFixed.GtkButton"	style	"theme-dark-button"

